*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: chocolate;
    padding: 10px;
    display: flex;
    justify-content: center;
}
main{
    background-color: darkkhaki;
    min-height: 100vh;
    
}
.goods-item{
    width: 175px;
    padding: 30px;
    border: 2px solid black;

}
p{
   padding: 10px;
   font-size: 25px;
}
h3{
    padding: 5px;
    color: rgba(212, 41, 126, 0.767);
    font-size: 25px;
    
}

.cart-list{
    background-color: #fffccc;
    width: 80%;
    min-height: 400px;
    position: absolute;
    display: none;
    left: 30px;
    top: 100px;

    
}

.active {
    display: block;
}


