<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Eshop</title>
</head>
<body>
    <div id="app">
        <input v-model="inValue" type="text">
        <button v-on:click="sheart">Искать</button>
        <button v-on:click="visibleCartList">Корзина</button>
        <div  class="goods-list" >
            <template v-if="elementGood">
                 <div v-for="good in filteredGoods" class="good-item">
                    <h3>{{ good.product_name }}</h3>
                    <p>{{ good.price }}</p> 
                </div>
            </template>
            <template v-else="elementGood"> 
                <h3>"Нет данных"</h3>
            </template>
           
        </div>
        <div v-if="visibleCart" class="cart-list">
            <div v-for="cart of carts" class="cart-item"> 
                <h3>{{cart.product_name}}</h3>
                <p>{{cart.price}}</p></div>
        </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="5shop.js"></script>  
</body>
</html>