<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Урок 5 vue.js</title>
</head>
<body>
   <div id="app">
       
       <h1 v-if="isVisible">hello {{name}}</h1> 
        
        <template v-if="isVisible">
            <input v-model="name" type="text"> <button v-on:click="onclick">show</button>
        </template> 
        <template v-else="isVisible">
            <h4>
               <ul>
                    <li v-bind:key="index" v-for="person, index of list">{{index + 1}}) {{person.name}}, {{person.lastName}} </li>
                </ul> 
                <input v-model="name" type="text"> <button v-on:keyup="onclick">show</button>
            </h4>
        </template> 
         

        <p> Ширина <input v-model="rect.x" type="text"> 
             Высота <input v-model="rect.y" type="text">
             <p>Площадь {{scuer}} lol {{scuerX}} </p>
        </p>
       <hr>
       <p v-for="person, index of list">{{index + 1}}) {{person.name}}, {{person.lastName}}</p>
   </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="lesson_5.js"></script>
    
</body>
</html>